.button {
    border-width: 2px;
     border-radius: 30%; 
    background-color: rgb(32, 78, 99); 
    color: white; 



   
 }

.disabled {
    border-width: 2px; 
    border-radius: 20%; 
     padding: 2%;
    margin: 10%; 
 } 
 